<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunnyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION " />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sun"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ErrorScreenActivity"></activity>
        <activity android:name=".DisplayWeatherActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".future_possible_features.ImageManagerActivity"
            android:label="ImageManagerActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".future_possible_features.FirstSignInActivity"
            android:label="@string/title_activity_first_sign_in"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />

        <receiver
            android:name=".PickWeatherNotificationScheduler"
            android:exported="false"></receiver>
    </application>

</manifest>